<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-container">

  <div class="login-box">
    <div class="logo-container">
      <img src="assets/images/logo.png" alt="logo" class="app-logo" />
      <h1 class="app-title">NombreDeLaApp</h1>
    </div>

    <p class="subtitle">
      La aventura está por iniciar,<br />
      por favor inicia sesión
    </p>

    <ion-item lines="none" class="input-field">
      <img src="assets/images/usuario.png" alt="Usuario" class="input-img" slot="start" />
      <ion-input [(ngModel)]="correo" name="correo" placeholder="Usuario"></ion-input>
    </ion-item>

    <ion-item lines="none" class="input-field">
      <img src="assets/images/clave.png" alt="Contraseña" class="input-img" slot="start" />
      <ion-input [(ngModel)]="contrasena" name="contrasena" type="password" placeholder="Contraseña"></ion-input>
    </ion-item>

    <ion-button expand="block" class="login-btn" (click)="onLogin()">Ingresar</ion-button>

    <p class="forgot-pass">Recupera Tu Contraseña</p>

    <div class="google-btn">
      <img src="assets/images/ic_google.png" alt="google" class="google-icon"/>
      <span>Ingresa con Google</span>
    </div>

    <p class="register-text">
      ¿No tienes cuenta?
      <span class="register-link" (click)="goToRegister()">Regístrate</span>
    </p>
  </div>

</ion-content>
