<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="centered-container">
  <!-- Logo con animación -->
  <div class="app-icon pulse home-logo"> 
    <img src="assets/images/logo.png" alt="Nombre App Logo" class="app-icon"> 
    <div class="circle-accent"></div>
  </div>

  <!-- Nombre -->
  <h1 class="app-name">NombreDeLaApp</h1>

  <!-- Descripción -->
  <p class="description">
    Inicia una nueva aventura con <strong>NombreDeLaApp</strong><br>
    y descubre una nueva forma de ver el mundo
  </p>

  <!-- Botón-->
  <div class="button-container">
    <ion-button class="start-button" (click)="goToLogin()">
      Comienza
    </ion-button>
  </div>

  <p>
  <span class="register-link" (click)="goToRegister()">Regístrate</span>
  </p>


</ion-content>
